<%- include('./Components/header') %>

<div class="product">
    <img class="product_img" src="/img/<%=products[id].img%>.png" alt="">
    <div class="product_infos">
        <div class="product_infos_title">
            <h1><%=products[id].name%></h1>
            <p><%=products[id].price%>€</p>
        </div>
        <p class="product_infos_desc" style="color: black;"><%=products[id].description%></p>
        <div class="product_infos_icons">
            <div>
                <i class="fa-solid fa-droplet fa-2xl"></i>
                <p><%=products[id].water%></p>
            </div>
            <div>
                <i class="fa-solid fa-sun fa-2xl"></i>
                <p><%=products[id].light%></p>
            </div>
            <div>
                <i class="fa-solid fa-temperature-three-quarters fa-2xl"></i>
                <p><%=products[id].temperature%></p>
            </div>
            <div>
                <i class="fa-solid fa-cloud fa-2xl"></i>
                <p><%=products[id].humidity%></p>
            </div>
        </div>
        <div class="product_infos_stars">
            <% for(let i=0; i < products[id].stars; i++) {%>
                <i class="fa-solid fa-star" style="color: #FFBA00;"></i>
            <% } %>
            <% for(let i=products[id].stars; i < 5; i++) {%>
                <i class="fa-solid fa-star" style="color: #666666;"></i>
            <% } %>
        </div>
        <div class="product_infos_bottom">
          
            <button class="btn btn-primary" id="<%=products[id].id%>">Ajouter au panier</button>
        </div>
    </div>
</div>

<h2 class="product_undertitle">
    Pourrait vous interesser
</h2>

<div class="home_theones_content product_interest">
    <% for (let i=0; i < 4; i++) { %>
        <a class="card"  href="http://localhost:8000/product/<%=products[i].id%>" id="card_<%=i%>">
            <img class="card_img" src="/img/<%=products[i].img%>.png" alt="">
            <div class="card_content">
                <p class="card_content_title">
                    <%= products[i].name %>
                </p>
                <p class="card_content_price">
                    <%= products[i].price %>
                </p>
            </div>
            <i class="card_icon fa-regular fa-heart fa-xl"></i>
        </a>
        <% } %>
</div>

<%- include('./Components/footer') %>